/* Global page styling */
:root {
    --primary-color: #0000ff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
p {
    font-size: 1.4rem;
}

input {
    width: 70vw !important;
    height: 2.5rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--primary-color);
}
select {
    width: 70vw;
    height: 1.7rem;
    outline: none;
    border-radius: 15%;
    border: 1px solid var(--primary-color);
}
input::placeholder {
    padding-left: 5px;
    font-size: 0.8rem;
}
h2 {
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 8vh;
}
nav {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
nav h1 {
    margin-top: 2vh;
}
.instructions {
    display: flex;
    flex-direction: column;

    text-align: center;
    padding: 2em;
}
.instructions h1 {
    font-size: 2rem;
}
.instructions p {
    text-align: center;
    margin-top: 10vh;
    
}
/* Basic details styling */
.basic-details > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.educational-details > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    width: 10rem;
    height: 3rem;
    background-color: var(--primary-color);
    border: 0px;
    cursor: pointer;
    border-radius: 15%;
    color: #ffffff;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
button:hover {
    background-color: #fff;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
/* media queries for desktop */
@media screen and (min-width: 768px) {
    input {
        width: 60vw;
    }
}